#!/usr/bin/env sh

set -e

# Before custom envrc
if [ -f ".before.custom.envrc" ]; then
  # shellcheck disable=SC1091
  . .before.custom.envrc
fi

# Set machine type
unameOut="$(uname -s)"
case "${unameOut}" in
Linux*)
  MACHINE="gnu/linux"
  ;;
Darwin*)
  MACHINE="macOS"
  ;;
*)
  MACHINE="UNKNOWN:${unameOut}"
  ;;
esac

# brew
if [ -z "${SKIP_BREW}" ]; then
  if command -v brew 2>&1 >/dev/null 2>&1; then
    printf "brew is installed, running brew bundle\n" 1>&2
    brew bundle --no-upgrade
  fi
fi

# podman
if [ -z "${SKIP_PODMAN}" ]; then
  if [ "${MACHINE}" = "macOS" ] && [ "$(podman machine list --format json | jq '. | length')" -eq 0 ]; then
    printf "No podman machine was detected and your on macOS. Creating podman machine.\n" 1>&2
    podman machine init
  fi
  podman machine start || echo "Failed to start podman machine, it may already be running"
fi

# rbenv
if [ -z "${SKIP_RBENV}" ]; then
  if command -v rbenv 2>&1 >/dev/null 2>&1; then
    export PATH="$HOME/.rbenv/bin:$PATH"
    eval "$(rbenv init -)"

    printf "rbenv is installed, running rbenv install\n" 1>&2
    rbenv install -s
  fi
fi

# nodenv
if [ -z "${SKIP_NODENV}" ]; then
  if command -v nodenv 2>&1 >/dev/null 2>&1; then
    export PATH="$HOME/.nodenv/bin:$PATH"
    eval "$(nodenv init -)"

    printf "nodenv is installed, running nodenv install\n" 1>&2
    nodenv install -s
  fi
fi

# npm
if [ -z "${SKIP_NPM}" ]; then
  if command -v npm 2>&1 >/dev/null 2>&1; then
    printf "npm is installed, running npm install\n" 1>&2
    npm install
  fi
fi

# pyenv
if [ -z "${SKIP_PYENV}" ]; then
  if command -v pyenv 2>&1 >/dev/null 2>&1; then
    export PYENV_ROOT="$HOME/.pyenv"
    export PATH="$PYENV_ROOT/bin:$PATH"
    eval "$(pyenv init -)"

    printf "pyenv is installed, running pyenv install\n" 1>&2
    pyenv install -s
  fi
fi

# Install ruby deps via bundler
if [ -z "${SKIP_BUNDLER}" ]; then
  if command -v bundler 2>&1 >/dev/null 2>&1; then
    printf "bundler is installed, running bundle install\n" 1>&2
    bundle install
  fi
fi

# goenv
if [ -z "${SKIP_GOENV}" ]; then
  if command -v goenv 2>&1 >/dev/null 2>&1; then
    export GOENV_ROOT="$HOME/.goenv"
    export PATH="$GOENV_ROOT/bin:$PATH"
    eval "$(goenv init -)"
    export PATH="$GOROOT/bin:$PATH"
    export PATH="$PATH:$GOPATH/bin"

    printf "goenv is installed, running goenv install\n" 1>&2
    goenv install -s
  fi
fi

# install go deps via go mod
if [ -z "${SKIP_GO_MOD}" ]; then
  if command -v go 2>&1 >/dev/null 2>&1; then
    printf "go is installed, running go mod tidy\n" 1>&2
    go mod tidy
  fi
fi

# install additional go tools
if [ -z "${SKIP_GO_TOOLS}" ]; then
  printf "Installing go tools from gotools.txt\n" 1>&2
  if command -v go 2>&1 >/dev/null 2>&1; then
    printf "go is installed, installing go tools from gotools.txt\n" 1>&2
    while IFS= read -r tool; do
      [ -n "$tool" ] && go install "$tool"
    done <gotools.txt
  fi
fi

# After custom envrc
if [ -f ".after.custom.envrc" ]; then
  # shellcheck disable=SC1091
  . .after.custom.envrc
fi
